table, th, td, tr {
    border: 1px solid black;
    border-collapse: collapse;
}

.delCss {
    background-color: lightgoldenrodyellow;
}

.compCss {
    background-color: lightgreen;
}

table {
    margin: 10px;
}

.noTask {
    background-color: yellow;
}